@import 'components/variables';
@import 'components/functions';
@import 'components/mixins';
@import 'components/animations';

@import 'layout/buttons';
@import 'layout/forms';
@import 'layout/posts';
@import 'layout/editposts';
@import 'layout/hrs';
@import 'layout/navigation';
@import 'layout/pagination';
@import 'layout/footer';

@import 'pages/landing';
@import 'pages/listpage';
@import 'pages/dashboard';
@import 'pages/tododash';
@import 'pages/userprofile';
@import 'pages/goalsdash';
@import 'pages/editgoals';

@import 'utilities/alerts';
@import 'utilities/toggling';

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0;
}

html {
	font-family: 'Raleway';
	font-weight: 300;
}

body {
	padding: 0px;
	margin: 0;
	font-size: 72.5%;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
html {
	letter-spacing: 1.5px;
	font-size: 1.5rem;
}

a {
	color: $secondary-text-color;
	text-decoration: none;
	font-weight: 300;
	transition: all 0.3s ease-in-out;
	font-size: 0.7rem;
}

h1,
h2,
h3 {
	color: $text-color;
}
.green {
	color: $accent-color;
}
.light-blue {
	color: lighten($accent-color, 10%);
}
.orange {
	color: orange;
}
.red {
	color: red;
}
.content {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2rem;
	width: 100%;
	padding: 4rem;
	justify-items: center;
}
.main-container {
	background-color: #eeeeee;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233b0160' fill-opacity='0.02'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	overflow-x: hidden;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 82vh;
}

@media screen and (max-width: 600px) {
	.content {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 2rem;
		width: 100%;
		padding: 20vh 0;
		justify-items: center;
	}
	.main-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 90vh;
	}
}
