/*========================
==========BUTTONS========*/
button {
	font-family: 'Raleway';
	letter-spacing: 1.5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	&:focus {
		outline: none;
	}
}
.full-btn,
.full-btn:link,
.full-btn:visited {
	font-family: 'Raleway';
	background-color: lighten($main-color, 10%);
	color: #fff;
	padding: 10px;
	width: 100%;
	opacity: 0.8;
	border-radius: 5px;
	border: 0.5px solid lighten($main-color, 10%);
	transition: all 0.3s ease-in-out;
}
.full-btn:hover {
	border: 0.5px solid lighten($main-color, 15%);
	background-color: lighten($main-color, 15%);
	cursor: pointer;
	color: #fff;
	opacity: 1;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	transform: translateY(2px);
}
.full-btn:active,
.full-btn:focus {
	outline: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-1px);
}

.edit-button {
	color: #fff;
	background-color: rgba(255, 165, 0, 0.8);
	border: 0.5px solid rgba(255, 165, 0, 0.8);
	padding: 5px;
	letter-spacing: 1.2px;
	margin: 5px;
	opacity: 0.8;
	transition: 0.2s linear;
	&:hover {
		box-shadow: 0 4px 4px darken(rgba(255, 165, 0, 1), 10%);
		background-color: rgba(255, 165, 0, 1);
		border: 0.5px solid rgba(255, 165, 0, 1);
		cursor: pointer;
	}
}
.delete-button {
	color: #fff;
	background-color: rgba(255, 0, 0, 0.8);
	border: 0.5px solid rgba(255, 0, 0, 0.8);
	padding: 5px;
	margin: 5px;
	letter-spacing: 1.2px;
	opacity: 0.8;
	transition: 0.2s linear;
	&:hover {
		box-shadow: 0 4px 4px darken(rgba(255, 0, 0, 1), 10%);
		background-color: rgba(255, 0, 0, 1);
		border: 0.5px solid rgba(255, 0, 0, 1);
		cursor: pointer;
	}
}
.edit-button:focus,
.delete-button:focus {
	outline: none;
}

.profile-button {
	background: lighten($main-color, 5%);
	border-radius: 5px;
	color: #fff;
	font-family: 'Raleway';
	transition: all 0.3s ease-in-out;
	border: 1px solid lighten($main-color, 5%);
	padding: 0.5rem;
	&:hover {
		box-shadow: 0 10px 10px lighten($main-color, 10%);
		transform: translateY(2px);
		cursor: pointer;
	}
}
