.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: $main-color;
	width: 100vw;
	max-height: 7vh;
	padding: 0;
	margin: 0;
	position: fixed;
	padding: 0.3rem 0;
	box-shadow: 0 2px 2px darken($main-color, 10%);
	z-index: 999999999999999999999999999999999999999999999999;
}
.search__nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: $main-color;
	min-width: 60vw;
	max-height: 7vh;
	max-width: 70vw;
	&--form {
		&--row {
			display: flex;
			flex-direction: row;
			&--icon-box {
				display: flex;
				padding: 0.53rem;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				background: lighten($main-color, 10%);
				border: none;
				color: #fff;
				transition: all 0.3s ease;
				&:hover {
					cursor: pointer;
					box-shadow: 0 10px 10px lighten($main-color, 5%);
				}
				&:focus {
					outline: none;
				}
				& i {
					font-size: 0.7rem;
				}
			}
			& input {
				background: #fff;
				color: #666;
				padding: 0.5rem;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				min-width: 20vw;
			}
		}
	}
	&--nav-links {
		display: flex;
		flex-direction: row;
		align-items: space-around;
		justify-content: space-around;
		& i {
			margin: 0 0.2rem;
			font-size: 0.7rem;
		}
		& a {
			display: flex;
			justify-content: space-around;
			margin: 0 1vw;
			color: #fff;
			transition: all 0.3s ease;
			border-bottom: 2px solid $main-color;
			&:hover {
				border-bottom: 2px solid lighten($main-color, 10%);
			}
			& .profile {
				font-weight: 400;
			}
		}
	}
	&--logo-container {
		max-height: 7vh;
		align-items: center;
		&--nav-img-container {
			max-height: 7vh;
			& .logo {
				max-height: 7vh;
				height: 100%;
				width: auto;
			}
		}
	}
}

.list__header {
	display: flex;
	flex-direction: row;
	min-width: 50vw;
	max-width: 70vw;
	margin: 1rem;
	justify-content: space-between;
	background: $main-color;
	align-items: center;
	color: #fff;
	max-height: 7vh;
	border-radius: 10px;
	box-shadow: 0px 3px 3px #ddd;
	&--add-new {
		color: #fff;
		font-size: 1.1rem;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		height: 100%;
		padding: 0.5rem;
		background: $accent-color;
		border: 1px solid $accent-color;
		transition: all 0.3s ease-in-out;
		max-width: 5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		&:hover {
			max-width: 8rem;
			background: $accent-color;
			padding: 0.5rem;
			cursor: pointer;
			color: #fff;
			border: 1px solid $accent-color;
			transition: all 0.3s ease-in-out;
		}
		&:hover::after {
			content: 'Add New';
			color: #fff;
			font-size: 0.5rem;
		}
	}
	&--go-back {
		color: lighten($main-color, 10%);
		font-size: 1.1rem;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		height: 100%;
		padding: 0.5rem;
		color: #fff;
		background: $main-color;
		border: 1px solid $main-color;
		transition: all 0.3s ease-in-out;
		max-width: 5rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		&:hover {
			max-width: 8rem;
			background: $accent-color;
			padding: 0.5rem;
			cursor: pointer;
			color: #fff;
			border: 1px solid $accent-color;
		}
		&:hover::before {
			content: 'Go Back';
			color: #fff;
			font-size: 0.5rem;
		}
	}
}
