</div>
</div>
<footer class="footer__section">
	<div class="footer__section--column">
		<a href="/api/days">
			<img class="footer__section--column--logo" src="https://res.cloudinary.com/snackmanproductions/image/upload/v1567875066/progressjournal/progressjournal_jo2w0d.png" alt="progress journal logo" />
		</a>
	</div>
	<div class="footer__section--column">
		<ul>
			
			<li><span>&copy;</span><a>ASR Productions</a></li>
			<li><a>User Support</a></li>
		</ul>
		<ul class="footer__section--column--link-list">
			<li>
				<a href="#" target="_blank" alt="facebook"><i class="fa fa-facebook-official"></i></a>
			</li>
			<li>
				<a href="#" alt="twitter" target="_blank"><i class="fa fa-twitter-square"></i></a>
			</li>
			<li>
				<a href="#" alt="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
			</li>
		</ul>
	</div>
	<div class="footer__section--column">
		<ul class="footer__section--column--link-list">
			<li>
				<a href="/api/days"><i class="fa fa-home"></i> <span class="hide-text">Home</span></a>
			</li>
			<li>
				<a href="/api/days/new"><i class="fa fa-plus"></i> <span class="hide-text">New Post</span> </a>
			</li>
			<li>
				<a href="/profile"> <i class="fa fa-user"></i> <span class="hide-text"><%=currentUser%></span></a>
			</li>
			<li>
				<a href="/logout"><i class="fa fa-sign-out"></i> <span class="hide-text">Sign Out</span></a>
			</li>
		</ul>
	</div>
</footer>

<script src="/bundle.js"></script>
</body>
</html>