<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" >
	</head>
	<div class="nav-container">
		<nav class="search__nav">
			<div class="search__nav--logo-container">
				<div class="search__nav--logo-container--nav-img-container">
					<a href="/days">
						<img class="logo" src="https://res.cloudinary.com/snackmanproductions/image/upload/v1567875066/progressjournal/progressjournal_jo2w0d.png" alt="progress journal logo" />
					</a>
				</div>
			</div>
			<form class="search__nav--form" id="search-query" action="/api/search" method="GET">
				<div class="search__nav--form--row">
					<button class="search__nav--form--row--icon-box"><i class="fa fa-search"></i></button>
					<input type="text" name="searchTerm" placeholder="enter a keyword to search" required/>
				</div>
			</form>
			<div class="search__nav--nav-links">
				<a href="/days"><span><i class="fa fa-home"></i> Home</span></a>
				<a href="/days/new"><span><i class="fa fa-plus"></i> New Post </span></a>
				<a href="/profile"><span class="profile light-blue"> <i class="fa fa-user"></i> <%=currentUser%></span></a>
			</div>
			<div class="search__nav--nav-links">
				<a href="/logout"><span><i class="fa fa-sign-out"></i> Sign Out</span></a> 
			</div>
		</nav>
		</div>
		<div class="main-container">
			<div class="content">
