<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" >
	</head>
	<div class="nav-container">
		<nav class="search__nav">
			<div class="search__nav--logo-container">
				<div class="search__nav--logo-container--nav-img-container">
					<a href="/api/days">
						<img class="logo" src="https://res.cloudinary.com/snackmanproductions/image/upload/v1567875066/progressjournal/progressjournal_jo2w0d.png" alt="progress journal logo" />
					</a>
				</div>
			</div>
			<form class="search__nav--form" id="search-query" action="/api/search" method="GET">
				<div class="search__nav--form--row">
					<button class="search__nav--form--row--icon-box"><i class="fa fa-search"></i></button>
					<input type="text" name="searchTerm" placeholder="enter a keyword to search" required/>
				</div>
			</form>
			<div class="search__nav--nav-links">
				<a href="/api/days"><i class="fa fa-home"></i> <span>Home</span></a>
				<a href="/api/days/new"><i class="fa fa-plus"></i> <span>New Post</span> </a>
				<a href="/profile"> <i class="fa fa-user"></i> <span class="profile light-blue"><%=currentUser%></span></span></a>
			<a href="/logout"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a> 
			</div>
		</nav>
		</div>
		<div class="main-container">
			<div class="content">
