/*=========================
========Alerts=============
=========================*/
.success {
	background-color: $success-green-faded;
	color: #fff;
	padding: 5px 0;
	width: 60%;
	border-radius: 5px;
	text-align: center;
	border: 1px solid $success-green;
	align-self: center;
}
.error {
	background-color: $alert-red-faded;
	color: #fff;
	padding: 5px 0;
	width: 60%;
	border-radius: 5px;
	text-align: center;
	border: 1px solid $alert-red;
	align-self: center;
}
