<% include partials/header %>
<div class="list__header">
	<a></a>
	<p>Create a new To-Do Item</p>
	<a href="/api/todos/<%=user._id%>/todos">
		<button class="list__header--go-back"><i class="fa fa-angle-left"></i></button
	></a>
</div>
<div class="create__form">
	<h2>Add a new To-Do</h2>
	<form class="create__form--form" action="/api/todos?_method=PUT" method="POST">
		<div class="create__form--form--row">
			<div class="create__form--form--row--icon-box"><i class="fa fa-list-alt"></i></div>
			<div class="create__form--form--row--column">
				<label for="todo[title]">Add A Title</label>
				<input name="todo[title]" maxLength="20" type="text" placeholder="Enter a title" required />
			</div>
		</div>
		<div class="create__form--form--row">
			<div class="create__form--form--row--icon-box"><i class="fa fa-calendar"></i></div>
			<div class="create__form--form--row--column">
				<label for="todo[endDate]">Add A Finish Date</label>
				<input name="todo[endDate]" type="date" placeholder="Enter completion date" required />
			</div>
		</div>
		<div class="create__form--form--row">
			<div class="create__form--form--row--icon-box"><i class="fa fa-hourglass-end"></i></div>
			<div class="create__form--form--row--column">
				<label for="todo[time]">What time do you want to finish this?</label>
				<input name="todo[time]" type="time" value="09:00" required />
			</div>
		</div>
		<button class="full-btn">Create To-Do</button>
	</form>
</div>

<% include partials/footer %>
