<% include partials/header %>

<div class="create__todo">
	<h2>Add a new To-Do</h2>
	<form class="create__todo--form" action="/api/todos?_method=PUT" method="POST">
		<div class="create__todo--form--row">
			<div class="create__todo--form--row--icon-box"><i class="fa fa-list-alt"></i></div>
			<div class="create__todo--form--row--column">
				<label for="todo[title]">Add A Title</label>
				<input name="todo[title]" type="text" placeholder="Enter a title" required />
			</div>
		</div>
		<div class="create__todo--form--row">
			<div class="create__todo--form--row--icon-box"><i class="fa fa-calendar"></i></div>
			<div class="create__todo--form--row--column">
				<label for="todo[endDate]">Add A Finish Date</label>
				<input name="todo[endDate]" type="date" placeholder="Enter completion date" required />
			</div>
		</div>
		<button>Create To-Do</button>
	</form>
</div>

<% include partials/footer %>
