<% include partials/header %>

<div class="create__goal">
	<h2>Add A New Goal</h2>
	<form class="create__goal--form" action="/api/goals?_method=PUT" method="POST">
		<div class="create__goal--form--row">
			<div class="create__goal--form--row--column">
				<input name="goals[title]" type="text" placeholder="Enter a title" required />
			</div>
		</div>

		<div class="create__goal--form--row">
			<div class="create__goal--form--row--column">
				<input name="goals[endDate]" type="date" placeholder="Enter completion date" required />
			</div>
		</div>
		<div class="create__goal--form--row">
			<div class="create__goal--form--row--column">
				<input name="goals[details]" type="text" placeholder="Enter details" required />
			</div>
		</div>
		<div class="create__goal--form--row">
			<button class="create__goal--form--row--button">Add A step</button>
		</div>
		<button>Add Goal</button>
	</form>
</div>

<a href="/api/goals/<%=user._id%>/goals"><button class="profile-button">Go Back</button></a>

<% include partials/footer %>
