<% include partials/header %> <% if(error && error.length > 0){ %>
<div class="error"><%= error %></div>
<% } %> <% if(success && success.length > 0) { %>
<div class="success"><%= success %></div>
<% } %>

<div class="create__profile">
	<form class="create__profile--form" action="/profile" method="POST" enctype="multipart/form-data">
		<div class="create__profile--form--row">
			<input name="profile[username]" type="text" placeholder="Enter your username" />
		</div>

		<div class="create__profile--form--row">
			<input name="profile[email]" type="email" placeholder="Enter your email" />
		</div>
		<div class="create__profile--form--row">
			<input name="profile[bio]" type="text" placeholder="Write a short bio about yourself" />
		</div>
		<div class="create__profile--form--row">
			<input name="profile[facebook]" type="text" placeholder="Link to your facebook" />
		</div>
		<div class="create__profile--form--row">
			<input name="profile[twitter]" type="text" placeholder="Link to your twitter" />
		</div>
		<div class="create__profile--form--row">
			<input name="profile[instagram]" type="text" placeholder="Link to your instagram" />
		</div>
		<div class="create__profile--form--row">
			<input name="profile[firstname]" type="text" placeholder="Enter your first name if you would like..." />
		</div>
		<div class="create__profile--form--row">
			<input name="profile[lastname]" type="text" placeholder="Enter your last name if you want as well" />
		</div>

		<div class="create__profile--form--row">
			<input name="profile[avatar]" type="file" placeholder="Add a snazzy pic of yourself" />
		</div>
		<div class="create__profile--form--row">
			<button>Create Profile!</button>
		</div>
	</form>
</div>

<% include partials/footer %>
