<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="back-container"></div>
		<header class="landing-header">
			<div class="img-container">
				<img class="logo" src="../images/progressjournal.png" alt="logo" />
			</div>
			<div class="text-box">
				<h1>Welcome to Progress Journal.</h1>
				<p>
					A place for charting personal growth, <br />
					and sharing life experiences.
				</p>
				<div class="buttons-container">
					<button id="signup-btn">Sign Up</button>
					<button id="login-btn">Login</button>
				</div>
			</div>
		</header>
		<section class="landing" id="signup">
			<div class="signup-svg-container">
				<p>Create Goals.</p>
				<svg
					id="b7c4787f-e4a8-4036-aa60-d215daeece2d"
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					width="989.06996"
					height="610.33611"
					viewBox="0 0 989.06996 610.33611"
				>
					<title>Create Goals.</title>
					<rect
						x="388.42235"
						y="333.01974"
						width="748.72329"
						height="38"
						transform="matrix(0.8603, 0.50978, -0.50978, 0.8603, 180.54469, -484.50838)"
						fill="#f2f2f2"
					/>
					<rect
						x="248.42235"
						y="365.01974"
						width="748.72329"
						height="38"
						transform="matrix(0.8603, 0.50978, -0.50978, 0.8603, 177.30033, -408.66897)"
						fill="#f2f2f2"
					/>
					<rect
						x="124.42235"
						y="400.01974"
						width="748.72329"
						height="38"
						transform="matrix(0.8603, 0.50978, -0.50978, 0.8603, 177.82043, -340.56695)"
						fill="#f2f2f2"
					/>
					<circle cx="569.51064" cy="245.75604" r="201.66853" fill="#3f3d56" />
					<path
						d="M674.97566,427.41442a35.94961,35.94961,0,1,1,35.94961-35.94961A35.99039,35.99039,0,0,1,674.97566,427.41442Zm0-70.14558a34.196,34.196,0,1,0,34.196,34.196A34.23446,34.23446,0,0,0,674.97566,357.26884Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#7909a5"
						opacity="0.3"
					/>
					<path
						d="M674.97566,459.85674a68.39194,68.39194,0,1,1,68.39194-68.39193A68.4692,68.4692,0,0,1,674.97566,459.85674Zm0-135.03023a66.6383,66.6383,0,1,0,66.6383,66.6383A66.71355,66.71355,0,0,0,674.97566,324.82651Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#7909a5"
						opacity="0.3"
					/>
					<path
						d="M674.97566,487.915a96.45017,96.45017,0,1,1,96.45017-96.45017A96.55931,96.55931,0,0,1,674.97566,487.915Zm0-191.1467a94.69653,94.69653,0,1,0,94.69653,94.69653A94.80393,94.80393,0,0,0,674.97566,296.76828Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#7909a5"
						opacity="0.3"
					/>
					<path
						d="M674.97566,524.7414c-73.48888,0-133.2766-59.78728-133.2766-133.27659,0-73.48888,59.78772-133.2766,133.2766-133.2766,73.48931,0,133.2766,59.78772,133.2766,133.2766C808.25226,464.95412,748.465,524.7414,674.97566,524.7414Zm0-264.79955c-72.52215,0-131.523,59.00081-131.523,131.523,0,72.52172,59.00081,131.52295,131.523,131.52295,72.52172,0,131.523-59.00123,131.523-131.52295C806.49862,318.94266,747.49738,259.94185,674.97566,259.94185Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#7909a5"
						opacity="0.3"
					/>
					<path
						d="M674.97566,555.43009c-90.4109,0-163.96529-73.55438-163.96529-163.96528s73.55439-163.96529,163.96529-163.96529,163.96528,73.55439,163.96528,163.96529S765.38656,555.43009,674.97566,555.43009Zm0-326.17693c-89.44375,0-162.21165,72.7679-162.21165,162.21165,0,89.44417,72.7679,162.21164,162.21165,162.21164,89.44417,0,162.21165-72.76747,162.21165-162.21164C837.18731,302.02106,764.41983,229.25316,674.97566,229.25316Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#7909a5"
						opacity="0.3"
					/>
					<circle cx="569.51064" cy="245.75604" r="16.65957" fill="#7909a5" opacity="0.3" />
					<circle cx="612.4748" cy="293.98113" r="16.65957" fill="#7909a5" opacity="0.3" />
					<circle cx="495.85778" cy="286.96657" r="16.65957" fill="#7909a5" opacity="0.3" />
					<circle cx="569.51064" cy="245.75604" r="7.89138" fill="#2f2e41" />
					<circle cx="495.85778" cy="286.96657" r="7.89138" fill="#2f2e41" />
					<circle cx="612.4748" cy="294.85795" r="7.89138" fill="#2f2e41" />
					<circle cx="937.77492" cy="157.19725" r="7.89138" fill="#7909a5" />
					<polygon
						points="569.949 246.194 568.195 246.194 568.195 155.882 916.293 155.882 916.293 157.636 569.949 157.636 569.949 246.194"
						fill="#2f2e41"
					/>
					<path
						d="M1043.23994,324.82651a22.79732,22.79732,0,1,1,22.79731-22.79731A22.82289,22.82289,0,0,1,1043.23994,324.82651Zm0-43.841a21.04368,21.04368,0,1,0,21.04367,21.04368A21.06779,21.06779,0,0,0,1043.23994,280.98552Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<circle cx="885.16573" cy="384.29356" r="7.89138" fill="#7909a5" />
					<path
						d="M990.63075,551.92281a22.79731,22.79731,0,1,1,22.79732-22.79731A22.82261,22.82261,0,0,1,990.63075,551.92281Zm0-43.841a21.04367,21.04367,0,1,0,21.04368,21.04367A21.06778,21.06778,0,0,0,990.63075,508.08183Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<circle cx="251.22508" cy="194.02368" r="7.89138" fill="#7909a5" />
					<path
						d="M356.6901,361.65294a22.79732,22.79732,0,1,1,22.79732-22.79732A22.82316,22.82316,0,0,1,356.6901,361.65294Zm0-43.841a21.04368,21.04368,0,1,0,21.04368,21.04367A21.06778,21.06778,0,0,0,356.6901,317.812Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<polygon
						points="496.735 286.967 494.981 286.967 494.981 198.394 273.132 194.9 273.159 193.147 496.735 196.668 496.735 286.967"
						fill="#2f2e41"
					/>
					<polygon
						points="863.245 385.17 611.598 385.17 611.598 294.858 613.352 294.858 613.352 383.417 863.245 383.417 863.245 385.17"
						fill="#2f2e41"
					/>
					<rect x="889.54983" y="198.40778" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="889.54983" y="215.94417" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="889.54983" y="233.48057" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="836.94065" y="425.50408" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="836.94065" y="443.04048" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="836.94065" y="460.57687" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="203" y="236.11103" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="203" y="253.64742" width="96.45017" height="6.13774" fill="#2f2e41" />
					<rect x="203" y="271.18381" width="96.45017" height="6.13774" fill="#2f2e41" />
					<ellipse cx="577.40202" cy="575.44697" rx="192.02352" ry="6.13774" fill="#f2f2f2" />
					<rect y="608.33611" width="648" height="2" fill="#2f2e41" />
					<path
						d="M179.45615,324.01867s9.17859,26.12369,3.53023,30.14272,19.06323,36.84111,19.06323,36.84111l29.65392-8.03806-16.239-27.46337s-2.11814-27.46337-2.11814-31.4824S179.45615,324.01867,179.45615,324.01867Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#ffb8b8"
					/>
					<path
						d="M179.45615,324.01867s9.17859,26.12369,3.53023,30.14272,19.06323,36.84111,19.06323,36.84111l29.65392-8.03806-16.239-27.46337s-2.11814-27.46337-2.11814-31.4824S179.45615,324.01867,179.45615,324.01867Z"
						transform="translate(-105.46502 -144.83195)"
						opacity="0.1"
					/>
					<path
						d="M164.04987,510.23371s-2.67936,33.49191,0,50.9077,6.69838,65.64415,6.69838,65.64415,0,91.098,14.73644,92.43768,25.45385,2.67935,26.79353-2.67935-6.69838-8.03806-2.67935-10.71741,5.3587-12.05709,0-22.77451,0-119.2312,0-119.2312l25.45385,68.3235s2.67935,56.26641,5.35871,64.30447-2.67936,22.7745,6.69838,24.11418,20.09515-6.69839,25.45385-9.37774-8.03806-2.67935-5.3587-4.019,10.71741-5.3587,8.03806-6.69838-5.35871-65.64415-5.35871-65.64415-7.36822-137.31684-16.746-142.67555-15.40628,3.87135-15.40628,3.87135Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<path
						d="M188.164,713.86453V724.582s-12.05708,29.1332,0,29.1332,21.43483,3.019,21.43483-1V716.54389Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<path
						d="M267.205,713.8455v10.71742s12.05709,29.1332,0,29.1332-21.43483,3.019-21.43483-1V716.52486Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<circle cx="92.7466" cy="174.49786" r="24.11418" fill="#ffb8b8" />
					<path
						d="M190.8434,364.209s6.69838,20.09515,17.41579,16.07612l10.71741-4.019L237.73207,504.875s-14.73644,21.43482-36.17126,8.03806S190.8434,364.209,190.8434,364.209Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#d0cde1"
					/>
					<path
						d="M209.59887,360.18994l6.02854-12.72693s35.50143,16.746,40.86014,22.10466,5.3587,13.39677,5.3587,13.39677l-9.37773,33.49191s2.67935,73.68221,2.67935,76.36156,9.37773,17.4158,2.67935,12.05709-8.03806-10.71741-13.39676-2.67935-17.4158,17.41579-17.4158,17.41579Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#3f3d56"
					/>
					<path
						d="M256.48755,456.64665l-4.019,37.51094s-24.11418,21.43482-18.75547,22.7745,8.038-4.019,8.038-4.019,9.37774,9.37774,14.73645,4.019S275.243,460.66568,275.243,460.66568Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#ffb8b8"
					/>
					<path
						d="M198.72534,285.2496c-5.34583-.19111-11.06666-.28564-15.57394,2.59515a22.8,22.8,0,0,0-5.38236,5.26887c-4.38983,5.54948-8.18285,12.532-6.55225,19.41738l1.89389-.73864a12.40116,12.40116,0,0,1-1.1962,5.31349c.26669-.77549,1.15983.47814.92072,1.26257l-2.08628,6.8443a6.44383,6.44383,0,0,1,8.2178,4.90354c.23843-7.94972,1.06312-17.06552,7.51192-21.7204,3.2521-2.34744,7.36794-3.06406,11.32795-3.70041,3.6532-.587,7.48294-1.14687,10.98208.0558s6.4789,4.78129,5.68563,8.39532c1.61342-.55578,3.4179.56865,4.21525,2.07737a10.91173,10.91173,0,0,1,.86323,4.99482c1.71983,1.21547,3.67706-1.19812,4.378-3.184,1.64525-4.66158,3.10762-9.62374,2.22132-14.487s-4.84926-9.51094-9.79263-9.52744a3.4325,3.4325,0,0,0,.89269-2.41654l-4.07448-.34427a4.50323,4.50323,0,0,0,2.69093-1.41871C214.23273,290.64079,201.37072,285.34417,198.72534,285.2496Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#2f2e41"
					/>
					<path
						d="M197.54178,356.17091s-10.9058-10.687-14.83064-10.03238-9.28354,10.03238-9.28354,10.03238-32.15223,10.71741-30.81256,21.43482,16.07612,62.9648,16.07612,62.9648,12.05709,62.96479,1.33968,69.66318,50.9077,24.11417,52.24738,16.07611,4.019-88.41864,0-100.47573S197.54178,356.17091,197.54178,356.17091Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#3f3d56"
					/>
					<path
						d="M154.67213,468.70374l18.75547,8.038s36.17127,5.35871,36.17127-9.37773-36.17127-6.69838-36.17127-6.69838l-12.05789-3.85524Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#ffb8b8"
					/>
					<path
						d="M244.43046,377.60573h16.5651s11.5681,50.90771,12.90778,56.26642,4.019,30.81256,2.67935,30.81256-28.1332-5.35871-28.1332-1.33968Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#3f3d56"
					/>
					<path
						d="M158.69116,369.56767l-16.07612,4.019L130.558,444.58956s-4.019,18.75547,2.67936,20.09515,25.45385,12.05708,25.45385,12.05708,2.67935-20.09514,8.03806-20.09514l-13.39676-10.71742,8.038-46.88867Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#3f3d56"
					/>
					<path
						d="M614.465,714.16805h-26v-26h26Zm-24-2h22v-22h-22Z"
						transform="translate(-105.46502 -144.83195)"
						fill="#3f3d56"
					/>
					<circle cx="525" cy="559.33611" r="10" fill="#7909a5" />
				</svg>
			</div>
			<div class="signup-svg-container">
				<p>Track Progress.</p>
				<svg
					id="a2942aa7-bf0d-42c0-bc52-bf4c952347c5"
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					width="925.497"
					height="645.18443"
					viewBox="0 0 925.497 645.18443"
				>
					<title>Track Goals</title>
					<circle cx="233.08818" cy="328.45705" r="18.40881" fill="#f2f2f2" />
					<circle cx="170.08818" cy="540.45705" r="11.40881" fill="#f2f2f2" />
					<rect x="379.997" y="21.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="417.997" y="3.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="478.997" y="3.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="605.997" y="505.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="643.997" y="487.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="704.997" y="487.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="612.997" y="200.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="650.997" y="182.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="711.997" y="182.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="612.997" y="128.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="650.997" y="110.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="711.997" y="110.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="305.997" y="138.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="343.997" y="120.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="404.997" y="120.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="203.997" y="91.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="241.997" y="73.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="302.997" y="73.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="140.997" y="276.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="178.997" y="258.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="239.997" y="258.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="70.997" y="480.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="108.997" y="462.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="169.997" y="462.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="732.997" y="396.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="770.997" y="378.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="831.997" y="378.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="691.997" y="268.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="791.997" y="270" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="730.997" y="270" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="13.997" y="118.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="113.997" y="120" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="52.997" y="120" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="22.997" y="380.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="122.997" y="382" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="61.997" y="382" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="463.997" y="53.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="563.997" y="55" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="502.997" y="55" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="70.997" y="192.5" width="140" height="2" fill="#f2f2f2" />
					<rect x="108.997" y="174.5" width="2" height="18.5" fill="#f2f2f2" />
					<rect x="169.997" y="174.5" width="2" height="18.5" fill="#f2f2f2" />
					<path
						d="M370.7485,300.40779v471h436v-471Zm218,34a15,15,0,1,1,15-15A15,15,0,0,1,588.7485,334.40779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#3f3d56"
					/>
					<path
						d="M174.50646,731.20512c6.914,25.55824,30.59593,41.38709,30.59593,41.38709s12.47217-25.60922,5.55819-51.16745-30.59593-41.38709-30.59593-41.38709S167.59248,705.64689,174.50646,731.20512Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#3f3d56"
					/>
					<path
						d="M184.66607,725.71239c18.97207,18.46854,21.28937,46.859,21.28937,46.859s-28.4425-1.553-47.41457-20.02152-21.28937-46.859-21.28937-46.859S165.694,707.24384,184.66607,725.71239Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<rect x="16.497" y="643" width="909" height="2" fill="#3f3d56" />
					<path
						d="M329.2485,708.74592a22.03138,22.03138,0,0,0-14.03113-20.5,22,22,0,1,0-15.93774,0,21.99119,21.99119,0,0,0,0,41,22,22,0,1,0,15.93774,0A22.03137,22.03137,0,0,0,329.2485,708.74592Zm-42-41a20,20,0,1,1,24.51294,19.46735,22.02316,22.02316,0,0,0-9.02588,0A20.02094,20.02094,0,0,1,287.2485,667.74592Zm40,82a20,20,0,1,1-24.51294-19.46734,22.02362,22.02362,0,0,0,9.02588,0A20.02093,20.02093,0,0,1,327.2485,749.74592Zm-15.48706-21.53265a22.02316,22.02316,0,0,0-9.02588,0,19.97883,19.97883,0,0,1,0-38.93469,22.02362,22.02362,0,0,0,9.02588,0,19.97883,19.97883,0,0,1,0,38.93469Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#3f3d56"
					/>
					<path
						d="M648.2485,398.90779h-229a7,7,0,1,1,0-14h229a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#f2f2f2"
					/>
					<path
						d="M648.2485,470.90779h-229a7,7,0,1,1,0-14h229a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#f2f2f2"
					/>
					<path
						d="M648.2485,542.90779h-229a7,7,0,1,1,0-14h229a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#f2f2f2"
					/>
					<path
						d="M648.2485,614.90779h-229a7,7,0,1,1,0-14h229a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#f2f2f2"
					/>
					<path
						d="M648.2485,686.90779h-229a7,7,0,1,1,0-14h229a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#f2f2f2"
					/>
					<path
						d="M608.2485,398.90779h-190a7,7,0,1,1,0-14h190a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<path
						d="M549.2485,470.90779h-131a7,7,0,1,1,0-14h131a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<path
						d="M477.2485,542.90779h-59a7,7,0,1,1,0-14h59a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<path
						d="M626.2485,614.90779h-208a7,7,0,1,1,0-14h208a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<path
						d="M580.2485,686.90779h-162a7,7,0,1,1,0-14h162a7,7,0,0,1,0,14Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<rect x="603.997" y="257.5" width="2" height="14" fill="#7909a5" />
					<path
						d="M758.2485,399.90779a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,758.2485,399.90779Zm0-14a6,6,0,1,0,6,6A6.00655,6.00655,0,0,0,758.2485,385.90779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<rect x="603.997" y="329.5" width="2" height="14" fill="#7909a5" />
					<path
						d="M758.2485,471.90779a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,758.2485,471.90779Zm0-14a6,6,0,1,0,6,6A6.00655,6.00655,0,0,0,758.2485,457.90779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<rect x="603.997" y="401.5" width="2" height="14" fill="#7909a5" />
					<path
						d="M758.2485,543.90779a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,758.2485,543.90779Zm0-14a6,6,0,1,0,6,6A6.00655,6.00655,0,0,0,758.2485,529.90779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<rect x="603.997" y="473.5" width="2" height="14" fill="#7909a5" />
					<path
						d="M758.2485,615.90779a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,758.2485,615.90779Zm0-14a6,6,0,1,0,6,6A6.00655,6.00655,0,0,0,758.2485,601.90779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<rect x="603.997" y="545.5" width="2" height="14" fill="#7909a5" />
					<path
						d="M758.2485,687.90779a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,758.2485,687.90779Zm0-14a6,6,0,1,0,6,6A6.00655,6.00655,0,0,0,758.2485,673.90779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<circle cx="620.997" cy="264.5" r="4" fill="#7909a5" />
					<circle cx="620.997" cy="480.5" r="4" fill="#7909a5" />
					<circle cx="620.997" cy="552.5" r="4" fill="#7909a5" />
					<circle cx="451.497" cy="192" r="7" fill="#3f3d56" />
					<circle cx="451.497" cy="7" r="7" fill="#3f3d56" />
					<rect x="450.49703" y="6.99993" width="2" height="185" fill="#3f3d56" />
					<path
						d="M993.86505,511.88678v24.77488s5.96432,39.91507,5.96432,74.78342S990.1947,727.52,990.1947,727.52s-19.26935,6.88191-20.64573-3.67035-5.04673-66.52513-5.04673-74.78342-16.05779-71.11306-16.05779-71.11306L938.351,647.6898s3.21156,82.58291,0,84.87688-18.81055,6.42312-20.64573,2.294-11.46985-92.67638-11.46985-92.67638-7.79949-115.61608-3.21156-122.498,8.71709-12.38744,8.71709-12.38744S977.34847,491.24106,993.86505,511.88678Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#2f2e41"
					/>
					<path
						d="M987.90073,724.76719l1.15058,7.47874a73.664,73.664,0,0,1,.752,7.699c.17894,3.75694.80419,9.54528,2.94523,10.46287,3.21156,1.37638,24.05625,18.95588,9.37484,19.87347s-22.02612,2.50283-26.37484-.87347c-5.14118-3.99157.68238-2.18432-1.61159-2.18432s-5.04673,0-5.96432-3.67035,1.37638-10.09347,1.37638-10.09347V724.76719Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#2f2e41"
					/>
					<path
						d="M919.39674,724.40779l-1.15058,7.47874a73.6637,73.6637,0,0,0-.752,7.699c-.17894,3.75694-.80419,9.54528-2.94523,10.46286-3.21156,1.37639-24.05625,18.95589-9.37484,19.87348s22.02612,2.50283,26.37484-.87348c5.14118-3.99156-.68238-2.18431,1.61159-2.18431s5.04673,0,5.96432-3.67035-1.37638-10.09347-1.37638-10.09347V724.40779Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#2f2e41"
					/>
					<path
						d="M932.38666,312.7702s7.7995,19.26935,13.305,22.48091,2.75277,17.893,2.75277,17.893l-13.76382,19.26935H923.66957l-13.305-22.9397s-.91759-15.1402-3.67035-18.81055S932.38666,312.7702,932.38666,312.7702Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#ffb9b9"
					/>
					<path
						d="M932.38666,312.7702s7.7995,19.26935,13.305,22.48091,2.75277,17.893,2.75277,17.893l-13.76382,19.26935H923.66957l-13.305-22.9397s-.91759-15.1402-3.67035-18.81055S932.38666,312.7702,932.38666,312.7702Z"
						transform="translate(-137.2515 -127.40779)"
						opacity="0.1"
					/>
					<path
						d="M943.85651,352.22648l20.64573,4.58794,15.1402,152.3196s-8.25829,1.37638-16.51659,12.38744-18.35175,9.17588-23.39849,6.42311-25.23367-10.55226-25.69246-13.76382.91759-59.64321.91759-59.64321L902.10626,366.4491l6.42311-9.63468h11.46985l9.17588,7.7995Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<circle cx="775.40702" cy="185.36242" r="23.85729" fill="#ffb9b9" />
					<path
						d="M947.06807,344.427s44.96181,4.58793,49.091,14.22261-2.75276,52.30251-2.75276,52.30251,16.51658,37.16231,16.05779,45.8794,15.599,68.3603-1.83518,61.47839-11.92864-24.77487-20.64573-11.92864-12.38744,11.011-12.38744,11.011-8.71708,14.22262-11.46985,12.84623-4.58793-11.92864,1.37639-16.97537,5.04673-13.76382-6.42312-30.28041S934.68063,379.75412,941.56254,366.4491,947.06807,344.427,947.06807,344.427Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#575a89"
					/>
					<polygon
						points="856.614 393.196 848.814 400.537 839.179 394.114 843.309 384.479 856.614 393.196"
						fill="#ffb9b9"
					/>
					<path
						d="M914.0349,352.22648s-34.86834,12.84623-34.86834,26.61005,21.10452,73.86583,21.10452,73.86583,0,15.599-.91759,19.26935-15.35289,35.68266-2.75276,38.53869c7.865,1.78274,14.32706,6.466,14.9108,13.07554.6932,7.84884-5.31545,17.75542-4.81733,19.49883.91758,3.21156,6.42311,7.7995,5.96432,5.50553s3.67035-35.32713,10.09347-50.00854-2.75277-113.32211-4.58794-126.16834A141.98834,141.98834,0,0,0,914.0349,352.22648Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#575a89"
					/>
					<polygon
						points="758.432 392.278 766.69 412.007 772.884 399.39 765.772 383.561 758.432 392.278"
						fill="#ffb9b9"
					/>
					<path
						d="M939.53568,327.55077s7.53239,3.1124,12.12033,3.1124,23.39849,9.63467,16.97537,15.599-16.05779,7.3407-20.64573,16.05779-6.88191,10.09347-6.88191,10.09347L932.93558,361.441s11.37972-12.88488,10.92093-17.014S939.53568,327.55077,939.53568,327.55077Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<path
						d="M909.1255,338.58183s-5.64286,2.1748-7.01924,5.84516-10.09347,10.55226-6.42312,12.38743,19.72814,9.17588,22.9397,10.55226,9.19676-3.90494,9.19676-3.90494-8.04978-4.58274-8.04978-7.7943S909.1255,338.58183,909.1255,338.58183Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#7909a5"
					/>
					<path
						d="M890.17761,372.41342l-11.011,2.75276s-15.1402,67.90151-10.55226,84.87689,26.15125,67.9015,26.15125,67.9015l13.76382-16.05779s-6.00381-36.5151-9.425-38.90328-1.12724-7.43491-1.12724-8.81129,1.37638-.45879-1.83517-3.67035,11.92864-21.10452,7.79949-26.15126S890.17761,372.41342,890.17761,372.41342Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#575a89"
					/>
					<path
						d="M998.68239,385.03025,992.02988,360.026s17.893,12.84623,21.56331,31.65678,17.893,56.43166,8.71709,72.94825-25.23367,64.23115-30.7392,63.31356-18.81055-12.38743-19.26935-14.22261,23.85729-44.04422,20.18694-47.25578-2.75276-11.46985,0-13.305,5.96432-10.55226,3.67035-10.09347-9.17588-4.12915-7.7995-9.17588-6.88191-38.99749-6.88191-38.99749Z"
						transform="translate(-137.2515 -127.40779)"
						opacity="0.1"
					/>
					<path
						d="M989.73591,356.81442l6.42311,1.83518s17.893,12.84623,21.56332,31.65678,17.893,56.43166,8.71708,72.94824-25.23367,64.23116-30.73919,63.31357-18.81056-12.38744-19.26935-14.22261,23.85729-44.04422,20.18693-47.25578-2.75276-11.46985,0-13.305,5.96433-10.55226,3.67036-10.09346-9.17588-4.12915-7.7995-9.17588-6.88191-38.99749-6.88191-38.99749Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#575a89"
					/>
					<path
						d="M931.17233,291.23524l4.47461-1.62714s-9.356-9.356-22.373-8.54236l3.66113-3.66107s-8.94922-3.25421-17.08484,5.28815c-4.27673,4.49054-9.225,9.76892-12.30969,15.715h-4.792l2,4-7,4,7.18481-.71851a20.18424,20.18424,0,0,0,.67957,10.35956l1.62707,4.47455s6.50855-13.017,6.50855-14.64411v4.06781s4.47461-3.661,4.47461-6.10168l2.44067,2.84747,1.22034-4.47461,15.0509,4.47461-2.44067-3.661,9.35595,1.22034-3.66113-4.47461s10.5763,5.28814,10.98316,9.76275,5.69482,10.1695,5.69482,10.1695l2.44067-4.06781S942.969,297.33692,931.17233,291.23524Z"
						transform="translate(-137.2515 -127.40779)"
						fill="#2f2e41"
					/>
					<ellipse cx="792.997" cy="182.5" rx="3.5" ry="5.5" fill="#ffb9b9" />
				</svg>
			</div>
			<form class="login__form" action="/" method="POST">
				<% if(error && error.length > 0){ %>
				<div class="error"><%= error %></div>
				<% } %> <% if(success && success.length > 0) { %>
				<div class="success"><%= success %></div>
				<% } %>
				<h3>
					Already have an account? <span><a class="signup" id="login-alt">login</a></span>
				</h3>
				<div class="input-column">
					<label>Enter your email</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-envelope"></i>
						</div>
						<input type="email" name="email" placeholder="add your email" required />
					</div>
				</div>

				<div class="input-column">
					<label>Create a username</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-user"></i>
						</div>
						<input type="text" name="username" placeholder="Create Username" required />
					</div>
				</div>

				<div class="input-column">
					<label>Create a password</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-unlock"></i>
						</div>
						<input type="password" name="password" placeholder="make it a good one" required />
					</div>
				</div>
				<div class="input-column">
					<label>Confirm password</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-unlock"></i>
						</div>
						<input type="password" name="password2" placeholder="make it a good one" required />
					</div>
				</div>

				<button class="full-btn">Submit</button>
			</form>
		</section>

		<section class="landing" id="login">
			<div class="login-svg-container">
				<p>Share Experiences.</p>
				<svg
					id="b092779a-c5a4-43c0-bfaf-70dac86c4f75"
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					width="827.7576"
					height="662.45223"
					viewBox="0 0 827.7576 662.45223"
				>
					<path
						d="M1013.87834,762.94507c-5.15761,25.4307-275.92458,23.29586-275.51428-.00151C743.52159,737.51437,1014.28857,739.64921,1013.87834,762.94507Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#e6e6e6"
					/>
					<path
						d="M706.9999,698.11c-1.1561,5.70037-61.84937,5.22184-61.7574-.00034C646.39858,692.4096,707.09185,692.88813,706.9999,698.11Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#e6e6e6"
					/>
					<circle cx="677.54452" cy="189.87917" r="18.90903" fill="#2f2e41" />
					<path
						d="M844.783,300.96477l11.83555-2.90077a30.47944,30.47944,0,0,0,29.8681-36.55339v0a39.839,39.839,0,0,0-39.839-39.839h-.00008a39.839,39.839,0,0,0-39.83905,39.839v.00005A31.65877,31.65877,0,0,0,844.783,300.96477Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#2f2e41"
					/>
					<polygon
						points="734.789 303.376 705.53 261.733 689.646 291.232 707.799 312.41 734.789 303.376"
						fill="#575a89"
					/>
					<path
						d="M905.64376,417.94724s9.07633-3.78181,14.37086,3.02544,14.37086,21.17812,11.34542,23.4472-12.85814-6.80725-12.85814-6.80725Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#575a89"
					/>
					<ellipse
						cx="922.66189"
						cy="444.79806"
						rx="6.80725"
						ry="12.85814"
						transform="translate(-262.19502 553.35051) rotate(-38.56071)"
						fill="#ffb8b8"
					/>
					<path
						d="M935.14184,523.08144s-1.51272,48.40711-6.80725,76.39247S931.36,728.05531,931.36,728.05531l-16.63995,7.56361L904.131,724.2735s3.7818-20.42175-1.51272-34.79261-7.56362-76.39248-7.56362-76.39248l-9.07633-83.19972Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#ffb8b8"
					/>
					<path
						d="M873.12023,537.4523l-47.65075,86.98153-43.11259,79.41792v16.64l-21.93447-6.80725,7.56361-17.39631s3.78181-68.0725,31.01081-94.54514L822.444,534.42686Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#ffb8b8"
					/>
					<path
						d="M901.48377,420.5945h8.32s45.38166,62.02162,43.11258,99.83967l-65.04706,26.47264-2.26908-5.29452s-53.70164,9.83269-67.31614-1.51273l18.909-96.81422,1.51272-13.6145Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#2f2e41"
					/>
					<path
						d="M922.28371,727.299s-10.58906-13.6145,2.26908-14.37086,12.85814,7.56361,12.85814,7.56361l28.74172,19.66539s47.65075,17.3963,13.6145,22.69083c0,0-14.37086,3.02545-32.52353-3.78181a107.7077,107.7077,0,0,0-34.03625-6.80725s-16.63994-.75636-16.63994-9.07633S904.685,720.4917,904.685,720.4917,917.74554,729.568,922.28371,727.299Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#2f2e41"
					/>
					<path
						d="M758.9097,708.38992s25.71628-5.29453,26.47264,4.53817,0,26.47264,0,26.47264-6.05089,7.56361-4.53817,12.85813-3.7818,21.93448-21.93447,19.66539-12.10178-27.98536-12.10178-27.98536l12.10178-29.49808Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#2f2e41"
					/>
					<circle cx="655.23187" cy="146.3884" r="25.3381" fill="#ffb8b8" />
					<path
						d="M858.37119,279.155l.37818,43.49077-31.01081-10.58906s3.78181-24.95992,3.02545-27.229Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#ffb8b8"
					/>
					<path
						d="M864.0439,309.7876s-32.52353-11.34542-36.30534-9.8327-5.29453,9.8327-5.29453,9.8327-18.15266-3.78181-20.42175,8.32,14.37087,65.04706,14.37087,65.04706l16.63994,31.0108s-8.32,12.85814,6.05089,17.39631,66.55978-9.83269,66.55978-9.83269,9.07633-10.58906,0-10.58906c0,0-3.02544-9.8327-6.05089-12.10178s2.26908-6.05089-.75636-6.80725-3.02544-2.26908-3.02544-2.26908,15.12722-20.42175,1.51272-37.0617-15.50541-32.14535-22.31266-34.41443S864.0439,309.7876,864.0439,309.7876Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#575a89"
					/>
					<ellipse
						cx="847.78213"
						cy="483.37248"
						rx="6.80725"
						ry="12.85814"
						transform="translate(-105.0728 968.33933) rotate(-67.90768)"
						fill="#ffb8b8"
					/>
					<path
						d="M813.3677,315.83849H802.70442s-30.93658,74.87975-21.86025,98.32694,42.35623,64.2907,42.35623,64.2907,10.58905,18.909,18.15266,18.909,15.88359-27.229,15.88359-27.229L833.03309,459.5471l-28.74172-52.94528,13.6145-40.8435Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#575a89"
					/>
					<polygon points="710.068 270.81 726.708 300.308 723.683 301.821 710.068 270.81" opacity="0.2" />
					<rect
						x="873.87641"
						y="454.75862"
						width="1.51309"
						height="88.23853"
						transform="translate(-282.78364 114.68507) rotate(-14.41613)"
						opacity="0.2"
					/>
					<path
						d="M810.72044,254.95141l4.53816-8.32,6.80725,4.56425h0A7.39238,7.39238,0,0,0,828.2,254.24744l23.76744-.47974a7.83489,7.83489,0,0,0,5.64742-2.572h0a12.386,12.386,0,0,1,7.67982,8.48726l2.90923,11.152V233.01694H822.82221Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#2f2e41"
					/>
					<rect width="426.87352" height="549.96668" fill="#e6e6e6" />
					<rect x="11.8576" y="70.58094" width="403.15832" height="137.77399" fill="#fff" />
					<rect x="11.8576" y="232.07013" width="403.15832" height="137.77399" fill="#fff" />
					<rect x="11.8576" y="393.55932" width="403.15832" height="137.77399" fill="#fff" />
					<circle cx="404.28762" cy="21.45661" r="11.29295" fill="#fff" />
					<circle cx="48.84201" cy="300.95712" r="11.29295" fill="#e6e6e6" />
					<rect x="81.59157" y="291.92276" width="106.15373" height="18.06872" fill="#e6e6e6" />
					<circle cx="249.5742" cy="301.52177" r="11.29295" fill="#e6e6e6" />
					<rect x="282.32376" y="292.48741" width="106.15373" height="18.06872" fill="#e6e6e6" />
					<polygon
						points="410.168 17.173 408.571 15.576 404.288 19.86 400.004 15.576 398.407 17.173 402.691 21.457 398.407 25.74 400.004 27.337 404.288 23.053 408.571 27.337 410.168 25.74 405.885 21.457 410.168 17.173"
						fill="#e6e6e6"
					/>
					<circle cx="48.84201" cy="139.46794" r="11.29295" fill="#e6e6e6" />
					<rect x="102.48352" y="129.30428" width="286.84094" height="18.06872" fill="#e6e6e6" />
					<rect x="84.97945" y="129.30428" width="257.47927" height="18.06872" fill="#7909a5" />
					<circle cx="48.84201" cy="462.44631" r="11.29295" fill="#e6e6e6" />
					<rect x="102.48352" y="452.28266" width="286.84094" height="18.06872" fill="#e6e6e6" />
					<rect x="84.97945" y="452.28266" width="161.20686" height="18.06872" fill="#7909a5" />
					<rect x="81.59157" y="291.92276" width="33.59653" height="18.06872" fill="#7909a5" />
					<rect x="282.32376" y="292.48741" width="66.62841" height="18.06872" fill="#7909a5" />
					<path
						d="M699.51345,673.87308c.17358,17.79415-10.34428,24.10956-23.39225,24.23685q-.45464.00443-.905-.00133-.90726-.01071-1.796-.06514c-11.78437-.71893-20.99819-7.16091-21.15963-23.70942-.16706-17.12566,21.50989-38.95143,23.13581-40.56546l.00287-.00148c.06177-.06151.09338-.09226.09338-.09226S699.33988,656.08038,699.51345,673.87308Z"
						transform="translate(-186.1212 -118.77389)"
						fill="#e6e6e6"
					/>
				</svg>
			</div>
			<div class="login-svg-container">
				<p>Manage To-dos.</p>
				<svg
					id="b90bc34a-8998-4c8b-8538-dc1cb46cfa6d"
					data-name="Layer 1"
					xmlns="http://www.w3.org/2000/svg"
					width="1042.88414"
					height="841"
					viewBox="0 0 1042.88414 841"
				>
					<ellipse cx="521.44207" cy="806" rx="521.44207" ry="35" fill="#3f3d56" />
					<ellipse cx="645.88414" cy="803" rx="341" ry="26" opacity="0.1" />
					<path
						d="M269.91737,736.23337l5.33912,61.39988,24.026,5.33912,5.33912-16.01736s-9.34346-44.04774-9.34346-52.05642Z"
						transform="translate(-78.55793 -29.5)"
						fill="#a0616a"
					/>
					<path
						d="M336.65637,693.52041s-10.67824,26.6956-14.68258,29.36516,12.013,37.37384,12.013,37.37384l24.026-4.00434s-8.00868-28.03038-1.33478-44.04774Z"
						transform="translate(-78.55793 -29.5)"
						fill="#a0616a"
					/>
					<path
						d="M329.31508,708.87038s-10.01085,3.337-14.01519,18.01953-4.00434,16.01736-4.00434,16.01736l6.6739,14.68258h4.00434s6.6739,22.69126,5.33912,30.69994,9.34346,38.70862,28.03038,37.37384,14.68258-24.026,14.68258-24.026l-9.34346-46.7173s0-12.013-2.66956-12.013-24.026,4.00434-24.026,4.00434v4.00434S318.63684,730.22686,329.31508,708.87038Z"
						transform="translate(-78.55793 -29.5)"
						fill="#2f2e41"
					/>
					<path
						d="M295.27819,790.95935v-8.00868s-28.03038,4.00434-28.03038,8.00868v9.34346s-24.026,50.72164,2.66956,50.72164,32.03472-10.67824,32.03472-10.67824V825.66363s13.3478-6.6739,13.3478-10.67824-13.0253-39.37724-13.0253-39.37724S301.95209,796.29847,295.27819,790.95935Z"
						transform="translate(-78.55793 -29.5)"
						fill="#2f2e41"
					/>
					<circle cx="184.68554" cy="58.03029" r="42.71296" fill="#a0616a" />
					<path
						d="M246.55872,120.2324s5.33912,25.36082,5.33912,28.03038,25.36082,14.68258,25.36082,14.68258l22.69126-4.00434,8.00868-24.026s-13.3478-20.0217-13.3478-28.03038Z"
						transform="translate(-78.55793 -29.5)"
						fill="#a0616a"
					/>
					<path
						d="M250.13223,137.82852s13.77863,22.44728,33.80033,15.77338a27.612,27.612,0,0,0,19.58563-25.81165l65.84029,23.14209-12.013,97.43894,10.67824,113.4563L360.015,376.51016H242.55438s-4.00434-20.0217-5.33912-20.0217-4.00434-4.00434-2.66956-5.33912,4.00434-2.66956,2.66956-6.6739-2.66956-48.05208-2.66956-48.05208L194.5023,180.2975Z"
						transform="translate(-78.55793 -29.5)"
						fill="#d0cde1"
					/>
					<path
						d="M199.174,391.86013l24.026,32.03472s4.00434-33.3695,9.34346-34.70428l-13.3478-9.34346Z"
						transform="translate(-78.55793 -29.5)"
						fill="#a0616a"
					/>
					<path
						d="M466.13,366.49931s36.03906,22.69126,32.03472,37.37384-45.38252-25.36082-45.38252-26.6956S466.13,366.49931,466.13,366.49931Z"
						transform="translate(-78.55793 -29.5)"
						fill="#a0616a"
					/>
					<path
						d="M241.887,366.49931h-2.66956l-4.00434,18.68692s-21.35648,18.68692-10.67824,48.05208l21.35648,140.1519,2.66956,162.84316,24.026,6.6739,26.6956-5.33912,6.6739-217.56914s9.34346-20.0217,5.33912-26.6956,1.33478-5.33912,1.33478-5.33912l28.03038,77.41724s-9.34346,25.36082,0,33.3695c0,0-1.33478,4.00434,0,5.33912s8.00868,6.6739,5.33912,9.34346-4.00434,0-4.00434,4.00434-13.3478,37.37384-8.00868,80.0868l17.35214,26.6956,16.01736-9.34346,29.36516-82.75636s-6.6739-12.013,0-14.68258,8.00868-5.33912,5.33912-9.34346-2.66956-17.35214,1.33478-24.026,0-17.35214,0-17.35214L388.71279,431.90353s6.6739-36.03906-16.01736-54.726L368.69109,362.495S335.32159,386.521,241.887,366.49931Z"
						transform="translate(-78.55793 -29.5)"
						fill="#2f2e41"
					/>
					<path
						d="M226.20291,53.11789s13.56121-29.38261,39.55352-22.602,40.68362,16.95151,41.81372,27.12241-.565,25.42726-.565,25.42726-2.82526-20.90686-20.90686-16.38645-46.33412,1.1301-46.33412,1.1301l-4.5204,40.68361s-5.08546-7.34565-10.736-2.82525S208.1213,62.15869,226.20291,53.11789Z"
						transform="translate(-78.55793 -29.5)"
						fill="#2f2e41"
					/>
					<path
						d="M214.524,180.2975H194.5023s-17.35214,14.68258-16.01736,42.713l-9.34346,78.752s0,38.70862,16.01736,66.739L202.511,401.871s6.6739-18.68692,26.6956-16.01736l-10.67824-28.03038v-6.6739s-4.00434-5.33912-4.00434-6.6739,5.33912-1.33478,1.33478-4.00434-8.00868-29.36516-8.00868-29.36516,1.33478-5.33912,2.66956-6.6739-1.33478-5.33912-1.33478-5.33912l2.66956-4.00434,17.35214-65.40422Z"
						transform="translate(-78.55793 -29.5)"
						fill="#d0cde1"
					/>
					<path
						d="M346.66722,146.928l22.69126,4.00434s13.3478,13.3478,18.68692,29.36516l10.67824,48.05208,17.35214,34.70428s20.0217,20.0217,34.70428,65.40422l21.35648,40.0434-22.69126,13.3478s-62.73466-73.4129-70.74334-98.77372l-34.70428-66.739Z"
						transform="translate(-78.55793 -29.5)"
						fill="#d0cde1"
					/>
					<rect x="394.88414" y="316" width="547" height="493" fill="#3f3d56" />
					<rect x="387.45583" y="386" width="15.29361" height="367" fill="#7909a5" />
					<rect x="731.38414" y="388.5" width="71" height="2" fill="#f2f2f2" />
					<rect x="731.38414" y="372.5" width="72" height="12" fill="#f2f2f2" />
					<polygon
						points="804.384 752.5 758.384 752.5 758.384 726.5 791.634 726.5 791.634 728.5 760.384 728.5 760.384 750.5 802.384 750.5 802.384 737.965 804.384 737.965 804.384 752.5"
						fill="#f2f2f2"
					/>
					<rect x="471.38414" y="430.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="467.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="504.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="541.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="578.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="615.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="652.5" width="331" height="8" fill="#f2f2f2" />
					<rect x="471.38414" y="689.5" width="331" height="8" fill="#f2f2f2" />
					<circle cx="852.38414" cy="434.5" r="13" fill="#7909a5" />
					<circle cx="852.38414" cy="471.5" r="13" fill="#f2f2f2" />
					<circle cx="852.38414" cy="508.5" r="13" fill="#7909a5" />
					<circle cx="852.38414" cy="545.5" r="13" fill="#f2f2f2" />
					<circle cx="852.38414" cy="582.5" r="13" fill="#f2f2f2" />
					<circle cx="852.38414" cy="619.5" r="13" fill="#f2f2f2" />
					<circle cx="852.38414" cy="656.5" r="13" fill="#7909a5" />
					<circle cx="852.38414" cy="693.5" r="13" fill="#7909a5" />
					<polygon
						points="781.884 746.414 770.677 735.207 772.091 733.793 781.884 743.586 811.177 714.293 812.591 715.707 781.884 746.414"
						fill="#7909a5"
					/>
					<ellipse cx="781.88414" cy="767" rx="69" ry="4" opacity="0.1" />
					<path
						d="M160.14648,823.52148c-.22949-.375-5.64062-9.41015-7.5166-28.17187-1.7207-17.21289-.61425-46.22656,14.43262-86.69824,28.50586-76.6709-6.56934-138.53321-6.92773-139.14942l1.73046-1.0039c.09082.15625,9.14161,15.92871,14.48829,41.04394a179.06122,179.06122,0,0,1-7.416,99.80664c-28.457,76.54-7.30078,112.77344-7.084,113.13086Z"
						transform="translate(-78.55793 -29.5)"
						fill="#3f3d56"
					/>
					<circle cx="70.44207" cy="522.5" r="13" fill="#7909a5" />
					<circle cx="111.44207" cy="570.5" r="13" fill="#7909a5" />
					<circle cx="83.44207" cy="602.5" r="13" fill="#7909a5" />
					<circle cx="117.44207" cy="629.5" r="13" fill="#7909a5" />
					<circle cx="73.44207" cy="671.5" r="13" fill="#7909a5" />
					<path d="M168,824s-13-32,26-56Z" transform="translate(-78.55793 -29.5)" fill="#3f3d56" />
					<path
						d="M152.012,823.41953s-5.91642-34.02934-51.7085-33.73768Z"
						transform="translate(-78.55793 -29.5)"
						fill="#3f3d56"
					/>
				</svg>
			</div>
			<div class="form-container">
				<form class="login__form" action="/login" method="POST">
					<% if(error && error.length > 0){ %>
					<div class="error"><%= error %></div>
					<% } %> <% if(success && success.length > 0) { %>
					<div class="success"><%= success %></div>
					<% } %>
					<h3>
						Please Login or <span><a class="signup" id="signup-alt">Signup.</a></span>
					</h3>
					<div class="input-column">
						<label>Username</label>
						<div class="input-row">
							<div class="icon-container">
								<i class="far fa-user"></i>
							</div>
							<input type="text" name="username" placeholder="Username" required />
						</div>
					</div>
					<div class="input-column">
						<label>Password</label>
						<div class="input-row">
							<div class="icon-container">
								<i class="fas fa-unlock"></i>
							</div>
							<input type="password" name="password" placeholder="Password" required />
						</div>
					</div>
					<button class="full-btn">Submit</button>
				</form>
			</div>
		</section>

		<script src="bundle.js"></script>
	</body>
</html>
