<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One&display=swap" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
			integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="back-container"></div>
		<header class="landing-header">
			<div class="img-container">
				<img class="logo" src="../images/progressjournal.png" alt="logo" />
			</div>
			<div class="text-box">
				<h1>Welcome to Progress Journal.</h1>
				<p>
					A place for charting personal growth, <br />
					and sharing life experiences.
				</p>
				<div class="buttons-container">
					<button id="signup-btn">Sign Up</button>
					<button id="login-btn">Login</button>
				</div>
			</div>
		</header>
		<section class="landing" id="signup">
			<form class="login__form" action="/" method="POST">
				<% if(error && error.length > 0){ %>
				<div class="error"><%= error %></div>
				<% } %> <% if(success && success.length > 0) { %>
				<div class="success"><%= success %></div>
				<% } %>
				<h3>
					Already have an account? <span><a class="signup" id="login-alt">login</a></span>
				</h3>
				<div class="input-column">
					<label>Enter your email</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-envelope"></i>
						</div>
						<input type="email" name="email" placeholder="add your email" required />
					</div>
				</div>

				<div class="input-column">
					<label>Create a username</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-user"></i>
						</div>
						<input type="text" name="username" placeholder="Create Username" required />
					</div>
				</div>

				<div class="input-column">
					<label>Create a password</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-unlock"></i>
						</div>
						<input type="password" name="password" placeholder="make it a good one" required />
					</div>
				</div>
				<div class="input-column">
					<label>Confirm password</label>
					<div class="input-row">
						<div class="icon-container">
							<i class="fa fa-unlock"></i>
						</div>
						<input type="password" name="password2" placeholder="make it a good one" required />
					</div>
				</div>

				<button class="full-btn">Submit</button>
			</form>
		</section>

		<section class="landing" id="login">
			<div class="form-container">
				<form class="login__form" action="/login" method="POST">
					<% if(error && error.length > 0){ %>
					<div class="error"><%= error %></div>
					<% } %> <% if(success && success.length > 0) { %>
					<div class="success"><%= success %></div>
					<% } %>
					<h3>
						Please Login or <span><a class="signup" id="signup-alt">Signup.</a></span>
					</h3>
					<div class="input-column">
						<label>Username</label>
						<div class="input-row">
							<div class="icon-container">
								<i class="far fa-user"></i>
							</div>
							<input type="text" name="username" placeholder="Username" required />
						</div>
					</div>
					<div class="input-column">
						<label>Password</label>
						<div class="input-row">
							<div class="icon-container">
								<i class="fas fa-unlock"></i>
							</div>
							<input type="password" name="password" placeholder="Password" required />
						</div>
					</div>
					<button class="full-btn">Submit</button>
				</form>
			</div>
		</section>

		<script src="bundle.js"></script>
	</body>
</html>
