<% include partials/header %>

<form action="/api/days" method="post" class="form__new">
	<div class="form__new--header">
		<h1>New Journal Entry</h1>
	</div>
	<div class="form__new--input-container">
		<div class="form__new--input-container--input title">
			<label for="title"><span><%= currentUser %></span>, Please Give this Post a Title.</label>
			<input
				type="text"
				class="title"
				name="day[title]"
				placeholder="Ex. Bought a new car."
				maxlength="80"
				required
			/>
		</div>
		<div class="form__new--input-container--input">
			<label for="mood">How Would You Rate Your Day?</label>
			<select name="day[mood]" class="mood" required>
				<option value="5">Great!</option>
				<option value="4">Good</option>
				<option value="3">Pretty Good</option>
				<option value="2">Eh</option>
				<option value="1">Not Great</option>
				<option value="0">Bad</option>
			</select>
		</div>
		<div class="form__new--input-container--input">
			<label for="body"
				>Describe your day in at most 200 characters...(Currently:<span class="char-display red">0</span
				>)</label
			>
			<textarea
				type="text"
				name="day[text]"
				class="body"
				maxlength="200"
				minlength="50"
				rows="7"
				id="day-text"
				placeholder="Ex. The car is siiiiiiiiick"
				required
			></textarea>
		</div>
		<div class="custom-hr">
			<div class="line"></div>
			<div class="inter">&</div>
			<div class="line"></div>
		</div>
	</div>
	<div class="form__new--button-container">
		<button class="full-btn">Submit</button>
	</div>
</form>

<% include partials/footer %>
