<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no"
      />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
		<link href="https://fonts.googleapis.com/css?family=Raleway|Poiret+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css" > 
  </head>
  <body>
<div class="landing-background"></div>
    <div class="landing">
            <div class="img-container">
                <img class="logo" src="https://res.cloudinary.com/snackmanproductions/image/upload/v1567875066/progressjournal/progressjournal_jo2w0d.png">
            </div>
            <form class="login__form" action="/" method="POST">
                  <% if(error && error.length > 0){ %>
                    <div class="error"><%= error %></div>
                <% } %>
                <% if(success && success.length > 0) { %>
                    <div class="success"><%= success %></div>
                <% } %>
                <h3>Already have an account? <span><a href="/" class="signup">login</a></span></h3>
                <div class="input-column">
                  
                  <label>Enter your email</label>
                  <div class="input-row">
                    <div class="icon-container">
                      <i class="fa fa-envelope"></i>
                    </div>
                  <input type="email" name="email" placeholder="add your email" required>
                </div>
                </div>

                <div class="input-column">
                  
                  <label>Create a username</label>
                  <div class="input-row">
                    <div class="icon-container">
                      <i class="fa fa-user"></i>
                    </div>
                  <input type="text" name="username" placeholder="Create Username" required>
                </div>
                </div>
                
                 <div class="input-column">
                   
                  <label>Create a password</label>
                   <div class="input-row">
                    <div class="icon-container">
                      <i class="fa fa-unlock"></i>
                    </div>
                  <input type="password" name="password" placeholder="make it a good one" required>
                </div>

                 </div>
                <div class="input-column">
                  
                    <label>Confirm password</label>
                  <div class="input-row">
                      <div class="icon-container">
                        <i class="fa fa-unlock"></i>
                      </div>
                    <input type="password" name="password2" placeholder="make it a good one" required>
                  </div>
                </div>
               
                <button class="full-btn">Submit</button>
            </form>
        </div>


  </div>
  <script src="/bundle.js"></script>
  <script
			defer
			src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"
			integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1"
			crossorigin="anonymous"
		></script>
  </body>
</html>