  $main-color: #3b0160;
  $secondary-color: #7909A5;
  $third-color:#8F2CB6;
  $fourth-color: #BC6FDB;
  $accent-color: #1e90ff;
  $text-color: #f4f4f4;
  $secondary-text-color: #d1d1d1;
  $border-color: #BC6FDB;
  $alert-red: #F31431;