$main-color: #3b0160;
$secondary-color: #7909a5;
$third-color: #8f2cb6;
$fourth-color: #bc6fdb;
$accent-color: rgb(30, 144, 255);
$text-color: #f4f4f4;
$dark-text: #666;
$secondary-text-color: #d1d1d1;
$border-color: #bc6fdb;
$alert-red: rgb(243, 20, 49);
$alert-red-faded: rgba(243, 20, 49, 0.5);
$success-green-faded: rgba(75, 202, 129, 0.5);
$success-green: rgba(75, 202, 129, 1);
