.dashboard-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.profile__card {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 5px darken(#eee, 10%);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 20vh;
	min-width: 20vw;
	max-width: 25vw;
	&--avatar {
		width: 100%;
		@include flex-row-center;
		@include card-separator;
		& figure {
			object-fit: cover;
			margin: 0;
			& img {
				max-height: 35vh;
				max-width: 15vw;
				border-radius: 50%;
				border: 5px solid rgba(30, 144, 255, 0.3);
			}
		}
	}
	&--header-img-todos {
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1567451086/progressjournal/ivana-cajina-HDd-NQ_AMNQ-unsplash_sdbxyj.jpg');
		@include image-header;
	}
	&--todo-count {
		position: absolute;
		top: 20%;
		padding: 1rem;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width:100%;
		& p {
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.4rem;
		}
		&--count-display {
			padding: 0rem 2rem;
			border-radius: 50%;
			border: 3px solid #fff;
			& h1 {
				@include count-number;
			}
		}
	}
	&--view-todos {
		flex: 0.3;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 1;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	&--header-img-goals {
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1567468817/progressjournal/estee-janssens-aQfhbxailCs-unsplash_iawcxc.jpg');
		@include image-header;
	}
	&--goals-count {
		position: absolute;
		top: 20%;
		padding: 1rem;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		width:100%;
		& p {
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.4rem;
		}
		&--count-display {
			padding: 0rem 2rem;
			border-radius: 50%;
			border: 3px solid #fff;
			& h1 {
				@include count-number;
			}
		}
	}
	&--view-goals {
		flex: 0.3;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		z-index: 1;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	&--username {
		@include flex-column-center;
		@include card-separator;
		& h2 {
			color: $accent-color;
			margin: 0 0.2rem;
		}
		&--full-name {
			@include flex-row-center;
		}
	}
	&--social {
		@include card-separator;
		& ul {
			@include flex-row-center;
			padding: 0;
			& li {
				list-style: none;
				margin: 0 0.5rem;
				box-shadow: 0 6px 6px #eee;
				border-radius: 50%;
				padding: 0.5rem;
				transition: all 0.3s ease-in-out;
				& a {
					color: $main-color;
					font-size: 1rem;
				}
				&:hover {
					background: $main-color;
					box-shadow: 0 8px 8px darken($main-color, 15%);
					cursor: pointer;
				}
				&:hover a {
					color: #fff;
					cursor: pointer;
				}
			}
		}
	}
	&--email {
		@include flex-row-center;
		@include card-separator;
		& i {
			color: $main-color;
		}
		& a {
			&:hover {
				cursor: pointer;
			}
		}
	}

	&--bio {
		@include flex-row-center;
		@include card-separator;
		color: lighten(#666, 5%);
		&--label {
			color: $main-color;
		}
	}
	&--view-profile {
		@include flex-row-center;
		padding: 1rem;
	}
	&--create-profile {
		@include flex-column-center;
		padding: 1rem;
		& h2 {
			color: #666;
		}
	}
}
