/*=====================
=========SHOWPAGE=========*/

.day-display{
  min-width: 50vw;
  max-width:55vw;
  min-height: 50vh;
  border: .5px solid $border-color;
  padding: 10px 50px;
}
.show-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: .5px solid $border-color;
}
.show-lower-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
}
.text {
  color: $text-color;
  background-color: rgba(121, 9, 165, 0.6);
  letter-spacing: 1.3px;
  word-spacing: 2.5px;
  padding: 1.5rem;
}

.show-buttons{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  width: 10vw;
}