.profile__container {
	max-width: 60vw;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 5px 5px darken(#fff, 30%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	&--button-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		margin: 1rem 0;
		&--edit {
			background: transparent;
			border: none;
			color: dodgerblue;
			align-items: center;
			& i {
				color: $main-color;
				font-size: 0.8rem;
			}
			&:hover {
				cursor: pointer;
			}
		}
		&--back {
			background: transparent;
			border: none;
			color: dodgerblue;
			align-items: center;
			& i {
				color: $main-color;
				font-size: 0.8rem;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.profile__display {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	&--left-column {
		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(4, auto);
		align-content: center;
		padding: 0 5rem;
		&--user-info {
			&--avatar {
				max-height: 10rem;
				max-width: 10rem;
				& img {
					width: 100%;
					border-radius: 200px;
					border: 5px solid rgba(30, 144, 255, 0.5);
				}
			}
		}
		&--name-display {
			display: flex;
			flex-direction: column;
			justify-content: center;
			&--username {
				align-items: center;
				& h2 {
					color: dodgerblue;
				}
			}
			&--full-name {
				display: flex;
				flex-direction: row;
				& h4 {
					color: #666;
					margin: 0 0.2rem;
				}
			}
		}
		&--social {
			& ul {
				display: flex;
				flex-direction: row;
				padding: 0;
				& li {
					list-style: none;
					& a {
						color: $main-color;
						font-size: 1.5rem;
						transition: all 0.3s ease-in-out;
						&:hover {
							color: $secondary-color;
						}
					}
				}
			}
		}
	}
	&--right-column {
		display: grid;
		grid-template-columns: repeat(1, 100%);
		grid-template-rows: repeat(auto);
		justify-items: center;
		width: 100%;
		&--user-data {
			width: 100%;
			& h2 {
				color: dodgerblue;
			}
			& a {
				color: #666;
				border-bottom: 1px solid transparent;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: $secondary-color;
					border-bottom: 1px solid $secondary-color;
				}
			}
		}
	}
}
